.active{
    font-weight: 600;
}
.bg-main{
    background-color: blue;
}
.bg-yellow{
    background-color: yellow;
}

.text-yellow{
    color: yellow;
}
.photo-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 50px;
}
*{
color: #fff;
}
