
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wamonime | Search for your favorite anime and find recommendation!</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
</head>

<body class="bg-primary">
  <nav class="navbar bg-main navbar-expand-lg ">
    <div class="container-fluid w-75 justify-content-around">
      <a class="navbar-brand text-yellow fw-fw-bold mt-3 bg-primary rounded-circle text-center" style="width: 45px;" href="#">AR</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="col-6 justify-content-around navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" aria-current="page" href="#">Anime</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" aria-current="page" href="#">Manga</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" aria-current="page" href="#">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <main class="container rounded-top-2">
    <div class="pt-5">
       <div class="fs-4 ps-3 border-warning border border-5 border-top-0 border-end-0 border-bottom-0 text-white"> 
            Search results for "Lorem Ipsum Dolor"
       </div>
    </div>
    <div class="mt-5 photo-grid">
        <div class="bg-main rounded-2">
            <img class="rounded-top-2" width="100%" src="https://img.dopebox.to/xxrz/250x400/243/23/59/2359d461f8001ab3265af8c5ab87007a/2359d461f8001ab3265af8c5ab87007a.jpg" alt="bg-main rounded-2">
            <div class="pb-4 container">
                <div class="card-text">
                    2023  |  Tv Show
                </div>
                <div class="card-title fw-bold mt-3">
                    Lorem Ipsum
                </div>
            </div>
        </div>
        <div class="bg-main rounded-2">
            <img class="rounded-top-2" width="100%" src="https://img.dopebox.to/xxrz/250x400/243/23/59/2359d461f8001ab3265af8c5ab87007a/2359d461f8001ab3265af8c5ab87007a.jpg" alt="bg-main rounded-2">
            <div class="pb-4 container">
                <div class="card-text">
                    2023  |  Tv Show
                </div>
                <div class="card-title fw-bold mt-3">
                    Lorem Ipsum
                </div>
            </div>
        </div>
        <div class="bg-main rounded-2">
            <img class="rounded-top-2" width="100%" src="https://img.dopebox.to/xxrz/250x400/243/23/59/2359d461f8001ab3265af8c5ab87007a/2359d461f8001ab3265af8c5ab87007a.jpg" alt="bg-main rounded-2">
            <div class="pb-4 container">
                <div class="card-text">
                    2023  |  Tv Show
                </div>
                <div class="card-title fw-bold mt-3">
                    Lorem Ipsum
                </div>
            </div>
        </div>
        <div class="bg-main rounded-2">
            <img class="rounded-top-2" width="100%" src="https://img.dopebox.to/xxrz/250x400/243/23/59/2359d461f8001ab3265af8c5ab87007a/2359d461f8001ab3265af8c5ab87007a.jpg" alt="bg-main rounded-2">
            <div class="pb-4 container">
                <div class="card-text">
                    2023  |  Tv Show
                </div>
                <div class="card-title fw-bold mt-3">
                    Lorem Ipsum
                </div>
            </div>
        </div>
        <div class="bg-main rounded-2">
            <img class="rounded-top-2" width="100%" src="https://img.dopebox.to/xxrz/250x400/243/23/59/2359d461f8001ab3265af8c5ab87007a/2359d461f8001ab3265af8c5ab87007a.jpg" alt="bg-main rounded-2">
            <div class="pb-4 container">
                <div class="card-text">
                    2023  |  Tv Show
                </div>
                <div class="card-title fw-bold mt-3">
                    Lorem Ipsum
                </div>
            </div>
        </div>
        <div class="bg-main rounded-2">
            <img class="rounded-top-2" width="100%" src="https://img.dopebox.to/xxrz/250x400/243/23/59/2359d461f8001ab3265af8c5ab87007a/2359d461f8001ab3265af8c5ab87007a.jpg" alt="bg-main rounded-2">
            <div class="pb-4 container">
                <div class="card-text">
                    2023  |  Tv Show
                </div>
                <div class="card-title fw-bold mt-3">
                    Lorem Ipsum
                </div>
            </div>
        </div>
        <div class="bg-main rounded-2">
            <img class="rounded-top-2" width="100%" src="https://img.dopebox.to/xxrz/250x400/243/23/59/2359d461f8001ab3265af8c5ab87007a/2359d461f8001ab3265af8c5ab87007a.jpg" alt="bg-main rounded-2">
            <div class="pb-4 container">
                <div class="card-text">
                    2023  |  Tv Show
                </div>
                <div class="card-title fw-bold mt-3">
                    Lorem Ipsum
                </div>
            </div>
        </div>
        <div class="bg-main rounded-2">
            <img class="rounded-top-2" width="100%" src="https://img.dopebox.to/xxrz/250x400/243/23/59/2359d461f8001ab3265af8c5ab87007a/2359d461f8001ab3265af8c5ab87007a.jpg" alt="bg-main rounded-2">
            <div class="pb-4 container">
                <div class="card-text">
                    2023  |  Tv Show
                </div>
                <div class="card-title fw-bold mt-3">
                    Lorem Ipsum
                </div>
            </div>
        </div>
        <div class="bg-main rounded-2">
            <img class="rounded-top-2" width="100%" src="https://img.dopebox.to/xxrz/250x400/243/23/59/2359d461f8001ab3265af8c5ab87007a/2359d461f8001ab3265af8c5ab87007a.jpg" alt="bg-main rounded-2">
            <div class="pb-4 container">
                <div class="card-text">
                    2023  |  Tv Show
                </div>
                <div class="card-title fw-bold mt-3">
                    Lorem Ipsum
                </div>
            </div>
        </div>
        <div class="bg-main rounded-2">
            <img class="rounded-top-2" width="100%" src="https://img.dopebox.to/xxrz/250x400/243/23/59/2359d461f8001ab3265af8c5ab87007a/2359d461f8001ab3265af8c5ab87007a.jpg" alt="bg-main rounded-2">
            <div class="pb-4 container">
                <div class="card-text">
                    2023  |  Tv Show
                </div>
                <div class="card-title fw-bold mt-3">
                    Lorem Ipsum
                </div>
            </div>
        </div>
    </div>
  </main>
</body>

</html>
